* 
{
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  font-family:'Roboto', Arial, sans-serif;
  max-width: 841px;
  margin: auto;
  position: relative;
 }

a:hover, a:focus {
  color:rgba(0,0,0,.85);
  text-decoration:none;
}

/* Logotype
--------------------------------------------------------------------------------------------------------------- */
.logo {
	text-transform: uppercase;
	font-weight: 900;
	font-size: 34px;
}
.logo-text {
	font-weight: normal;
	margin: -5px 0 0 -12px;
}
#header {
	display: flex;
	justify-content: space-between;
	text-align: center;
}
.wrapper {
	margin-top: 20px;
}

/* Navigation menu
--------------------------------------------------------------------------------------------------------------- */
#mainav ul { 
	display: flex;
	justify-content: flex-end;
	list-style:none;
	margin-top: 16px;
}
#mainav ul > li:last-child a { 
    margin-right: 0;
}

#mainav ul li a {
	color: #111111;
	font-family: Tahoma;
	font-size: 17px;
	font-weight: 700;
	line-height: 19px;
	margin-right: 8px;
	text-decoration: none;
	transition: 0.4s;
	padding: 0 10px;
  }

#mainav ul li a:hover {
	padding: 6px 10px;
	background-color: #666666;
    color: #da4137;
}

/* section
--------------------------------------------------------------------------------------------------------------- */
 .wrapper-content {
 	display: flex;
 	justify-content: space-between;
 	align-items: center;
 	position: relative;
 	background-color: #f0f0f0;
 	height: 269px;
 	padding-left: 30px;
 	z-index: 0;
 }
.wrapper-content1 {
 	display: flex;
 	position: absolute;
 	z-index: 999;
 }
.wrapper-content2 {
 	padding-left: 30px;
	height:230px;
	width: 373px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.wrapper-foto {
 	background-size: cover;
 	background-repeat: no-repeat;
 	background-position: center center;
 }
.content-text {
	color: #8d8d8d;
	font-family: "Times New Roman PSMT";
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}
.btn {
	width: 115px;
	height: 29px;
	background-color: #da4137;
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0) 100%);
	color: #fefefe;
	border: none;
	border-radius: 3px;
	cursor: pointer;
}

/* Media Queries
--------------------------------------------------------------------------------------------------------------- */
.section-global {
	display: flex;
	justify-content: space-between;
	position: relative;
	width: 85%;
	padding: 10px 0 16px 0;
}

.foto-text {
	color: #000000;
	font-family: "Times New Roman PS - Italic MT";
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	position: absolute;
	left: 55px;
}
.text-content {
	margin-top: 4px;
	color: #8d8d8d;
	font-family: "Times New Roman PSMT";
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}

.section-icon {
	position: relative;
	display: block;

}


/* Media Queries
--------------------------------------------------------------------------------------------------------------- */
@-ms-viewport{width:device-width;}

/* Max Wrapper Width - Laptop, Desktop etc.
--------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width:768px){
	.section-global {
		display: inline-flex;
		flex-direction: column;
		justify-content: center;
		margin: 10px 10px;
	}
	.section-icon {
		padding: 6px 0; 
		background-repeat: no-repeat;
	}
	.wrapper {
		margin: 10px 10px;
	}
	.wrapper-content {
		display: flex;
		flex-direction: column;

	}
}	
.menu-item {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.icon {
	display: none;
	width: 45px;
	height: 35px;
	position: relative;
	cursor: pointer;
}

.icon span {
	display: block;
	position: absolute;
	height: 9px;
	width: 100%;
	background: #666;
	border-radius: 9px;
	left: 0;
	transform: rotate(0deg);
	transition: .25s all;
}

.icon span:nth-child(1) {
	top: 0px;
}
.icon span:nth-child(2), .icon span:nth-child(3) {
	top: 13px;
}
.icon span:nth-child(4) {
	top: 26px;
}

/* Mobile Devices
--------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width:768px){
	.icon {
		position: fixed;
		display: inline-block;
		right: 0;
		margin-right: 10px;
		
	}
	.links {
		display: inline-block;
		position: fixed;
		right: 0;
		top: 0;
		left: 0;
		margin-top: 66px;
		background: grey;
		z-index: 9999;
		opacity: 0;
		height: 150px;
		padding: 0 10px;
		}
	.menu-item {
		opacity: 1;
		margin-top: 8px;
		}
	#mainav ul { 
		display: flex;
		flex-direction: column;
		}
	#mainav ul li a:hover {
		padding: 10px 10px;
		background-color: #666666;
	    color: #da4137;
		}
	.wrapper-content {
	 	display: flex;
	 	flex-direction: column;
	 	height: 500px;
	 	}
	 .wrapper-content1 {
	 	display: block;
	 	margin: 20px 0 0 -20px;
	 	}		 
	 .wrapper-content2 {
		margin: 10px 0 0 -30px;
	}
	#logo {
		margin-left: 10px;
	}
}

.menu.menu-open .icon span:nth-child(1) {
	top: 18px;
	width: 0%;
	left: 50%;
}
.menu.menu-open .icon span:nth-child(2) {
	transform: rotate(45deg);
}
.menu.menu-open .icon span:nth-child(3) {
	transform: rotate(-45deg);
}
.menu.menu-open .icon span:nth-child(4) {
	top: 18px;
	width: 0%;
	left: 50%;
}

.menu.menu-open .links {
	opacity: 1;
}

/* scrool */
#scroolling { 
	left: 0; 
	right: 0; 
	z-index: 9999; 
	width: 841px;
	padding: 14px 0;
	top: 20px;
	margin: auto;
	transition: .6s;
}

#scroolling.default { 
	position: fixed; 
	background: #999; 
	z-index: 100;
	top: 0;
}
